@mixin leftbar-bor {
	width: 600px;
    border-right: 1px solid #bcbdbc;
}

@mixin leftbar-fn {
	#leftbar
}

#leftbar{
	font-size: 18px;
  	font-weight: 600;
	text-align: left;
	color: #000;
	background-color: #ccc;
	padding-left: 3px;
	border-color: #ccc;

	& table {
		
	}



}